src/main/mule/afrash.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8ccb7fa7-c2b2-4b65-b5df-375d9ca5d012" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="afrashFlow" doc:id="eadb541f-5f22-4022-979f-4c88f89fdc68" >
		<http:listener doc:name="Listener" doc:id="5227e30d-4352-4e04-8bab-f12c0f0c9788" config-ref="HTTP_Listener_config" path="/afrash"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="a77c3059-bde0-4984-834f-35868777fa85" />
		<logger level="INFO" doc:name="Logger" doc:id="204e1ed1-7e58-4a06-bcbc-769698fbfb81" />
		<logger level="INFO" doc:name="Logger" doc:id="a51f0b85-32fe-4828-9b02-c9a0776ca422" />
	</flow>
</mule>
